.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mesaggeWrapper {
  display: none;
  color: #fff;
}

@media (min-width: 768px) {
  .mesaggeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}
