.footer {
  display: grid;
  align-content: space-between;
  grid-area: footer;
  min-height: 30vh;
  padding: 16px 8px;
  width: calc(100% - 16px);
  color: #000;
  background-color: rgb(223, 254, 46);
}

.footerInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottonFooter {
  justify-self: center;
}
