.app {
  display: grid;
  width: 100%;
  height: 100vh;
  gap: 12px;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    " header"
    " main "
    " footer";
}

.container {
  display: grid;
  grid-area: main;
  align-items: flex-start;
  padding: 64px 7px 0;
  gap: 8px;
  margin-top: 64px;
  width: 100%;
}

@media (min-width: 690px) {
  .app {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "header header header header header header header header"
      "main main main main main main main main"
      "footer footer footer footer footer footer footer footer";
  }
}

@media (min-width: 960px) {
  .app {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      " header header header header header header header header header header header header  "
      " ... main main main main main main main main main main ... "
      " footer footer footer  footer footer footer footer footer footer footer footer footer ";
  }
}
